.baiano  {
    text-align:center;
}
.baiano {
	background:linear-gradient(#859187, #282e28)
  
}
.menu__link   {
    color: #bdadad;
    font-weight: bold;
}


.copyright {
	color: #000000;
	font-size: 23px;
	margin: 20px 0 0;
 text-align: center;}